/* Add CSS Styling */
.odd{
    background-color: #ffa3c6;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';

}
#second{
    color: rgb(0, 0, 255);
    font-size: 36px;
}
#third{
    font-size: 24px;
}
#fourth{
    background-color: #ccffdd;
    font-size: 24px;
    font-weight: bold;
}