body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 20px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}
.container{
  display: flex;
  /* flex-wrap: wrap; */
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 40px;
  margin: 40px;
}
.card{
  max-width: 18vw;
  max-height: 80vh;
  text-align: center;
  padding: 20px;
}
.sidebar {
  width: 300px;
  background: royalblue;
  /* box-sizing: border-box; */
  height: 90vh;
  
}
.sidebar ul{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
}
.sidebar ul li a {
  text-decoration: none;
  color: rgb(243, 243, 243);
  font-size: 18px;
  
} 

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}