/* Add CSS Styling */
.button1{
    background-color: #000000;
    color: white;
}
.button2{
    background-color: #fbff00;
    color: black;
}
.button1.button2{
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}