body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px 10px 10px;
  
}

.button-container {
  text-align: center;
  margin-top: 10px;
  display: block;
  background: #e3f4ff;
  padding: 10px;
}

button {
  margin: 0 auto;
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}